html,body,#root{
  width:100%;
  height:100%;
  background-color: black;
}

.text-content{
  padding: 12px;
}
h3{
  color: white;
  font-size: 1.5rem;
}
.h2{
  font-size: 2rem;
  
  color: white;
}

.card-div{
   background:black;
  padding: 5px 5px;
  border-radius: 8px;
  
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
 
  flex-direction: column;
  width:5.6rem;
  height:6.2rem;
  transform-origin: center center;
  
}

.card-div img{
  width:100%;
height:3rem;

  object-fit: cover;
  border-radius: 6px;
  background-position: center;
  
  background-repeat: no-repeat;

}
.card-content{
  color:white;
 

 width:100%;
 
 
}





