.app2 {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-image {
  width: 80vw;
  aspect-ratio: 2 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 80vw 80vw 0 0;
}

.map-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.pin {
  position: absolute;
  width: 12px;
  height: 12px;
  color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}






.card {
  display: none;

  z-index: 9999;

     background:black;
  padding: 5px 10px;
  border-radius: 8px;
  
  color: #111;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:10.2rem;
  height:11.3rem;
  transform-origin: center center;
}


.card img{
  width:100%;
height:5rem;

  object-fit: cover;
  border-radius: 6px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
margin-top: -0.1rem;
}

.pin:hover .card {
  display: block;
}


.card-content{
  color:white;
 margin-top: 0.6rem;
  padding: 0.1rem 0; 
 width:100%;
  
}
.card-content p{
  font-size: 0.85rem;
  
    
}


.text-content{
  padding: 12px;
}
h3{
  color: white;
  font-size: 1.5rem;
}